# Python
__pycache__/
*.py[cod]
*$py.class
*.exe

# Virtual Environment
venv/
ENV/
env/
.env

# Database
db.sqlite3

# Media
media/

# Static
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
